<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        var baseUrl = @Html.Raw(Json.Encode(Url.Content("~")));
    </script>
</head>
<body ng-app="RBApp" ng-controller="RBAppCtrl as vm">

    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/RBApp")
    @RenderSection("scripts", required: false)
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>
</body>
</html>
